.main {
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-rows: 30% auto;
  grid-template-columns: repeat(8, 1fr);

  background-image: url("../public/drunk_boy.svg");
  background-repeat: no-repeat;
  background-position: -13%;
  filter: opacity(80%);
}

.button {
  margin-top: 4rem !important;
}
